body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color: #0056b3;
}

p {
    color: #555;
}

#carrinho {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
}

#carrinho:hover {
    background-color: #0056b3;
}

body.carrinho {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container.carrinho {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color: #0056b3;
}

p {
    color: #555;
}

#carrinho {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
}

#carrinho:hover {
    background-color: #0056b3;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px; /* Adiciona espaçamento vertical de 10px entre os botões */
    cursor: pointer;
}

.button-green {
    background-color: #4CAF50;
    color: #fff;
}

.button-green:hover {
    background-color: #45a049;
}

.button-red {
    background-color: #f44336;
    color: #fff;
}

.button-red:hover {
    background-color: #d32f2f;
}